@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --primary: #6b4ac5;
  --secondary: #26a69a;
  --accent: #9c27b0;
  --dark: #1d1d1d;
  --positive: #21ba45;
  --negative: #c10015;
  --info: #31ccec;
  --warning: #f2c037;
}
